[Unit]
Description=systemd-gnome-ask-password-agent

[Service]
Type=simple
ExecStart=/usr/bin/systemd-gnome-ask-password-agent

[Install]
WantedBy=gnome-session-initialized.target