[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/plugins/start/asyncomplete.vim"]
	path = .vim/pack/plugins/start/asyncomplete.vim
	url = git@github.com:prabirshrestha/asyncomplete.vim.git
[submodule ".vim/pack/plugins/start/asyncomplete-lsp.vim"]
	path = .vim/pack/plugins/start/asyncomplete-lsp.vim
	url = git@github.com:prabirshrestha/asyncomplete-lsp.vim.git
[submodule ".vim/pack/plugins/start/vim-lsp-settings"]
	path = .vim/pack/plugins/start/vim-lsp-settings
	url = git@github.com:mattn/vim-lsp-settings.git
[submodule ".vim/pack/plugins/start/vim-lsp"]
	path = .vim/pack/plugins/start/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule ".tmux/plugins/tmux-prefix-highlight"]
	path = .tmux/plugins/tmux-prefix-highlight
	url = git@github.com:tmux-plugins/tmux-prefix-highlight.git
[submodule ".config/zsh/plugins/base16-shell"]
	path = .config/zsh/plugins/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule ".vim/pack/plugins/start/base16-vim"]
	path = .vim/pack/plugins/start/base16-vim
	url = git@github.com:chriskempson/base16-vim.git
[submodule ".config/zsh/themes/repos/dracula.zsh-theme"]
	path = .config/zsh/themes/repos/dracula.zsh-theme
	url = https://github.com/dracula/zsh.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule ".config/zsh/plugins/zsh-vi-mode"]
	path = .config/zsh/plugins/zsh-vi-mode
	url = git@github.com:jeffreytse/zsh-vi-mode
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting
[submodule ".vim/pack/plugins/start/lightline.vim"]
	path = .vim/pack/plugins/start/lightline.vim
	url = git@github.com:itchyny/lightline.vim
