[submodule ".tmux/tmux-colors-solarized"]
	path = .tmux/tmux-colors-solarized
	url = git@github.com:seebi/tmux-colors-solarized.git
[submodule ".vim/pack/plugins/start/vim-surround"]
	path = .vim/pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/vim-colors-solarized"]
	path = .vim/pack/plugins/start/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".vim/pack/plugins/start/ctrlp.vim"]
	path = .vim/pack/plugins/start/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/plugins/start/vim-lsp"]
	path = .vim/pack/plugins/start/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule ".vim/pack/plugins/start/vim-lsp-settings"]
	path = .vim/pack/plugins/start/vim-lsp-settings
	url = git@github.com:mattn/vim-lsp-settings.git
[submodule ".vim/pack/plugins/start/asynccomplete.vim"]
	path = .vim/pack/plugins/start/asynccomplete.vim
	url = git@github.com:prabirshrestha/asyncomplete.vim.git
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
